@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.imgPortada{
    width: 150px;
}


.piezas{
    background-image: url(../img/madera.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 350px;
    padding: 20px;
    margin: auto;
    padding: 20px;
}

#titulo{
  font-family: 'Dancing', cursive; 
  text-align: center;    
}

.fondoRmp{
    background-color: limegreen;
    
}

#informacion{
    margin-top: 20px;
    text-align: center;
}

.fondoPz{
    width: 52px;
    height: 154px;
    border: 1px solid;
    padding: 0;
}

/*
#imagenFondo{
    background-color: aquamarine;
}
*/

#nombreRmp{
    width: 450px;
    margin: 0px auto;
}

#bodyFondo{
    background-image: url(../img/granja2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: beige ;
}

#fondoRompecabezas{
        background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: beige ;
}

#botonRmp{
    align-content: center;
    margin-bottom: -10px;
}

#botones{
    text-align: left;
    margin-right: 130px;
}

#regresar{
    width: 60px;
    color: aliceblue;
    font-size: larger;
}

#recargar{
    width: 90px;
}

#divRmp{
    margin-top: -30px;
}

#boton{
    text-align: center;
    height: 300px;
    font-family: 'Dancing', cursive;
    font-size: larger;
}
#validar{
   text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    background-color: #FF0000;
    border-radius: 6px;
    border: 2px solid #fff;

}



#validar:hover {
color: #3ADF00;
    background-color: #ffffff;
}

#imgBoton{
    width: 100px;
}



#btnLista{
    background-image: url(../img/madera.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
    border: 3px #814111 dashed;
    margin: 5px;
}

#idh3{
    font-family: 'Indie Flower', cursive;
    color: bisque;
}

#lista{
    padding: 150px 0 100px 0;
    text-align: center;
    background-color: aliceblue;
}

#nombre{
    text-align: center;
    margin-top: 150px;
    margin-bottom: -90px;
}

#logo{
    text-align: center;
}

#audioDiv, #audioFondo, #audioError{
    display: none;
}

.bordes{
    border: 2px black;
}

.tituloInicio{
   color:red; 
   text-align: center;
   font-size:50px;
   font-family:fantasy;
}